package home

import "gothstarter/views/layouts"
import "gothstarter/views/components"
import "gothstarter/models"

templ Profile(profile *models.Profile) {
	@layouts.Base(profile) {
		<body class="h-screen w-screen">
			<div class="flex items-center justify-center h-full w-full max-w-full">
				@components.ProfileCard(profile.Name, profile.Nickname, profile.Picture, "")
			</div>
		</body>
	}
}
