package home

import "gothstarter/views/layouts"
import "gothstarter/views/components"

templ Profile(user string, email string) {
	@layouts.Base() {
		<body class="h-screen w-screen">
			<div class="flex items-center justify-center h-full w-full max-w-full">
				@components.Typing(user, email)
			</div>
		</body>
	}
}
